<!DOCTYPE html>
<html lang="en">
{{template "head.tmpl"}}

<body>
    {{template "banner.tmpl"}}

    <div class="m-5 p-5 bg-gray-600 rounded-md">
        <div class="summary m-5 p-5">
            <table>
                <tr><th colspan="2" class="header">DeferBatch</th></tr>
                <tr>
                    <th>Fails Parent On Error</th>
                    <td class="hover:bg-yellow-400">{{.FailElement}}</td>
                </tr>
            </table>
        </div>
    </div>

    {{template "sequence_body" (asSequence .)}}
</body>
</html>
